body.task {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
body.task a {
  text-decoration: none;
  color: white;
  transition: 0.25s ease-in;
  font-size: 1vw;
}
body.task .nav {
  margin: 1.5vw 5vw;
  padding-bottom: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.task .nav a img {
  margin-top: 0.3vw;
  width: 50%;
  transition: 0.25s ease-in;
}
body.task .nav a img:hover {
  transform: scale(1.25);
}
body.task .nav .nav-links a {
  font-size: 1.5vw;
  margin-right: 1vw;
}
body.task .nav .nav-links a:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.task .nav .nav-links a:last-child {
  margin-right: 0vw;
}
body.task .nav .nav-links-external {
  display: flex;
  justify-content: end;
}
body.task .nav .nav-links-external a {
  font-size: 0.65vw;
  margin-right: 1vw;
  color: gray;
}
body.task .nav .nav-links-external a:hover {
  color: yellow;
  text-decoration: underline;
}
body.task .nav .nav-links-external a:last-child {
  margin-right: 0vw;
}
body.task .wrapper {
  margin: 5vw;
}
body.task .wrapper .content-block .simple-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  gap: 3vw;
}
body.task .wrapper .content-block .simple-links div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.task .wrapper .content-block .simple-links div a:first-child {
  font-size: 2vw;
  font-weight: 500;
  color: yellow;
}
body.task .wrapper .content-block .simple-links div a:first-child:hover {
  color: gray;
  text-decoration: underline;
}
body.task .wrapper .content-block .simple-links div a:last-child {
  font-size: 1vw;
  font-weight: 500;
  color: white;
}
body.task .wrapper .content-block .simple-links div a:last-child:hover {
  color: dimgray;
}
body.task .wrapper .content-block .hse-img {
  padding-top: 10vw;
  margin: 0 auto;
  max-width: 79vw;
}
body.task .wrapper .content-block .hse-img a img {
  width: 100%;
  transition: 0.25s ease-in;
}
body.task .wrapper .content-block .hse-img a img:hover {
  transform: scale(1.025);
  outline: 1px solid yellow;
}
body.task .wrapper .content-block .hse-img h3 {
  color: white;
}
body.task .wrapper .form-block {
  padding-top: 5vw;
  margin: 0 auto;
}
body.task .wrapper .form-block h1 {
  font-weight: 600;
  color: yellow;
  font-size: 3vw;
}
body.task .wrapper .form-block h1:hover {
  color: grey;
  text-decoration: underline;
}
body.task .wrapper .form-block form div:nth-child(1) {
  width: 57vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1vw;
}
body.task .wrapper .form-block form div:nth-child(1) label {
  color: white;
  margin-right: 1vw;
  font-size: 2vw;
  font-weight: 400;
}
body.task .wrapper .form-block form div:nth-child(1) input {
  font-family: "Open Sans", sans-serif;
  width: 30vw;
  height: 2vw;
  padding-left: 1vw;
  padding-bottom: 1vw;
  font-size: 3rem;
  outline: 1px solid #111;
}
body.task .wrapper .form-block form div:nth-child(1) input:hover {
  outline: 3px solid yellow;
}
body.task .wrapper .form-block form div:nth-child(1) input:focus {
  color: white;
  background-color: black;
  outline: 3px solid white;
}
body.task .wrapper .form-block form div:nth-child(1) input::placeholder {
  font-size: 1.5vw;
}
body.task .wrapper .form-block form div:nth-child(1) input:last-child {
  padding-top: 0.5vw;
  font-size: 1.5vw;
}
body.task .wrapper .form-block form #button {
  padding: 1vw;
  margin-left: 38vw;
  font-size: 2vw;
  margin-top: 3vw;
  color: white;
  background-color: black;
  outline: 2px solid grey;
}
body.task .wrapper .form-block form #button:hover {
  outline: 2px solid #efefef;
  background-color: #efefef;
  color: #0a0a0a;
}
body.task .wrapper .form-block form #button:active {
  outline: 2px solid yellow;
  background-color: #131313;
  color: #efefef;
}
body.task .wrapper .data-block {
  padding-top: 10vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
body.task .wrapper .data-block a {
  padding: 1vw;
  font-size: 1vw;
  color: white;
  background-color: black;
  outline: 2px solid grey;
}
body.task .wrapper .data-block a:hover {
  background-color: white;
  color: black;
}