html {
  scroll-behavior: smooth;
}

body.business {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
body.business a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1vw;
}
body.business h1 {
  font-weight: 600;
  color: #dadada;
  font-size: 1.8rem;
}
body.business h2 {
  font-weight: 400;
  color: #5d5d5d;
  font-size: 1.4rem;
}
body.business .nav {
  margin: 1.5vw 5vw;
  padding-bottom: 3.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.business .nav a img {
  margin-top: 0.3vw;
  width: 50%;
  transition: 0.25s ease-in;
}
body.business .nav a img:hover {
  transform: scale(1.25);
}
body.business .nav .nav-links a:nth-child(3) {
  color: #ffff00;
  text-decoration: underline;
}
body.business .nav .nav-links a {
  font-size: 1.5vw;
  margin-right: 1vw;
}
body.business .nav .nav-links a:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.business .nav .nav-links a:last-child {
  margin-right: 0vw;
}
body.business .nav .nav-links-external {
  display: flex;
  justify-content: end;
}
body.business .nav .nav-links-external a {
  font-size: 0.65vw;
  margin-right: 1vw;
  color: gray;
}
body.business .nav .nav-links-external a:hover {
  color: yellow;
  text-decoration: underline;
}
body.business .nav .nav-links-external a:last-child {
  margin-right: 0vw;
}
body.business .wrapper {
  margin: 1.5vw 5vw;
}
body.business .wrapper .nav-bar {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
}
body.business .wrapper .nav-bar div {
  display: flex;
  flex-direction: column;
}
body.business .wrapper .nav-bar ol {
  color: grey;
}
body.business .wrapper .nav-bar a {
  font-size: 1vw;
  font-weight: 400;
  color: white;
  transition: 0.25s ease-in;
}
body.business .wrapper .nav-bar a:hover {
  color: yellow;
}
body.business .wrapper .nav-bar a:first-child {
  padding-bottom: 0vw;
}
body.business .wrapper .block-first {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.business .wrapper .block-first h1 {
  font-size: 3vw;
  color: yellow;
}
body.business .wrapper .block-first h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.business .wrapper .block-first img {
  margin-top: 5vw;
  margin-left: 28.5vw;
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.business .wrapper .block-first img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.business .wrapper .block-first h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.business .wrapper .block-first h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.business .wrapper .block-second {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.business .wrapper .block-second h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.business .wrapper .block-third {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.business .wrapper .block-third h1 {
  font-size: 3vw;
  color: yellow;
}
body.business .wrapper .block-third h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.business .wrapper .block-third ol {
  padding-top: 1.5vw;
  width: 50%;
  color: white;
  font-size: 1vw;
}
body.business .wrapper .block-third ol li {
  padding-bottom: 0.5vw;
}
body.business .wrapper .block-third ol li:hover {
  color: yellow;
}
body.business .wrapper .block-fourth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.business .wrapper .block-fourth h1 {
  font-size: 3vw;
  color: yellow;
}
body.business .wrapper .block-fourth h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.business .wrapper .block-fourth ul {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 50%;
  color: white;
  font-size: 1.5vw;
  list-style-type: square;
}
body.business .wrapper .block-fourth ul li {
  padding-bottom: 0.5vw;
}
body.business .wrapper .block-fourth ul li:hover {
  color: yellow;
}
body.business .wrapper .block-fifth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.business .wrapper .block-fifth h1 {
  font-size: 3vw;
  color: yellow;
}
body.business .wrapper .block-fifth h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.business .wrapper .block-sixth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.business .wrapper .block-sixth h1 {
  font-size: 3vw;
  color: yellow;
}
body.business .wrapper .block-sixth h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.business .wrapper .block-sixth ul {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 90%;
  color: white;
  font-size: 1.5vw;
  list-style-type: square;
}
body.business .wrapper .block-sixth ul li {
  padding-bottom: 0.5vw;
}
body.business .wrapper .block-sixth ul li ul {
  list-style-type: disc;
}
body.business .wrapper .block-sixth ul li:hover {
  color: yellow;
}
body.business .wrapper .block-seventh {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.business .wrapper .block-seventh div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body.business .wrapper .block-seventh h1 {
  font-size: 3vw;
  color: yellow;
}
body.business .wrapper .block-seventh h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.business .wrapper .block-seventh img {
  width: 40%;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.business .wrapper .block-seventh img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.business .wrapper .block-seventh h3 {
  width: 100%;
  text-align: right;
  color: white;
  padding-top: 0.7vw;
  font-weight: 300;
}
body.business .wrapper .block-eighth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.business .wrapper .block-eighth h1 {
  font-size: 3vw;
  color: yellow;
  padding-bottom: 1.5vw;
}
body.business .wrapper .block-eighth table {
  font-weight: 300;
  border-collapse: separate;
  border-spacing: 0.5vw;
  background-image: url("../img/yellow.png");
  border: 0.5vw solid yellow;
}
body.business .wrapper .block-eighth table tr td {
  text-align: center;
  font-weight: 300;
  object-fit: cover;
}
body.business .wrapper .block-eighth table tr td div {
  width: 28.5vw;
}
body.business .wrapper .block-eighth table tr td img {
  width: 100%;
  object-fit: cover;
}
body.business .wrapper .block-eighth table tr th {
  font-size: 1vw;
  font-weight: 400;
  color: black;
  text-align: center;
}
body.business .wrapper .block-eighth table tr th a {
  color: black;
}
body.business .wrapper .block-eighth table tr th a:hover {
  text-decoration: underline;
}
body.business .wrapper .block-ninth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.business .wrapper .block-ninth h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.business .wrapper .block-ninth h1:hover {
  color: grey;
  text-decoration: underline;
}
body.business .wrapper .block-tenth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.business .wrapper .block-tenth div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body.business .wrapper .block-tenth h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.business .wrapper .block-tenth h1:hover {
  color: grey;
  text-decoration: underline;
}

body.math {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
body.math a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1vw;
}
body.math h1 {
  font-weight: 600;
  color: #dadada;
  font-size: 1.8rem;
}
body.math h2 {
  font-weight: 400;
  color: #5d5d5d;
  font-size: 1.4rem;
}
body.math .nav {
  margin: 1.5vw 5vw;
  padding-bottom: 3.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.math .nav a img {
  margin-top: 0.3vw;
  width: 50%;
  transition: 0.25s ease-in;
}
body.math .nav a img:hover {
  transform: scale(1.25);
}
body.math .nav .nav-links a:nth-child(1) {
  color: #ffff00;
  text-decoration: underline;
}
body.math .nav .nav-links a {
  font-size: 1.5vw;
  margin-right: 1vw;
}
body.math .nav .nav-links a:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.math .nav .nav-links a:last-child {
  margin-right: 0vw;
}
body.math .nav .nav-links-external {
  display: flex;
  justify-content: end;
}
body.math .nav .nav-links-external a {
  font-size: 0.65vw;
  margin-right: 1vw;
  color: gray;
}
body.math .nav .nav-links-external a:hover {
  color: yellow;
  text-decoration: underline;
}
body.math .nav .nav-links-external a:last-child {
  margin-right: 0vw;
}
body.math .wrapper {
  margin: 1.5vw 5vw;
}
body.math .wrapper .nav-bar {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
}
body.math .wrapper .nav-bar div {
  display: flex;
  flex-direction: column;
}
body.math .wrapper .nav-bar ol {
  color: grey;
}
body.math .wrapper .nav-bar a {
  font-size: 1vw;
  font-weight: 400;
  color: white;
  transition: 0.25s ease-in;
}
body.math .wrapper .nav-bar a:hover {
  color: yellow;
}
body.math .wrapper .nav-bar a:first-child {
  padding-bottom: 0vw;
}
body.math .wrapper .block-first {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.math .wrapper .block-first h1 {
  font-size: 3vw;
  color: yellow;
}
body.math .wrapper .block-first h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.math .wrapper .block-first img {
  margin-top: 5vw;
  margin-left: 28.5vw;
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.math .wrapper .block-first img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.math .wrapper .block-first h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.math .wrapper .block-first h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.math .wrapper .block-second {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.math .wrapper .block-second h1 {
  font-size: 3vw;
  color: yellow;
}
body.math .wrapper .block-second h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.math .wrapper .block-second a {
  color: yellow;
  font-size: 1.5vw;
}
body.math .wrapper .block-second a:hover {
  color: grey;
}
body.math .wrapper .block-second ul {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 90%;
  color: white;
  font-size: 1.5vw;
  list-style-type: square;
}
body.math .wrapper .block-second ul li {
  padding-bottom: 0.5vw;
}
body.math .wrapper .block-second ul li ul {
  list-style-type: disc;
}
body.math .wrapper .block-second ul li:hover {
  color: yellow;
}
body.math .wrapper .block-third {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.math .wrapper .block-third h1 {
  font-size: 3vw;
  color: yellow;
}
body.math .wrapper .block-third h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.math .wrapper .block-third ol {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 50%;
  color: white;
  font-size: 1.5vw;
  list-style-type: square;
}
body.math .wrapper .block-third ol li {
  padding-bottom: 0.5vw;
}
body.math .wrapper .block-third ol li:hover {
  color: yellow;
}
body.math .wrapper .block-fourth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.math .wrapper .block-fourth h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.math .wrapper .block-fourth img {
  margin-top: 5vw;
  width: 100%;
  height: 35vw;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.math .wrapper .block-fourth img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.math .wrapper .block-fourth h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.math .wrapper .block-fourth h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.math .wrapper .block-fifth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.math .wrapper .block-fifth h1 {
  font-size: 3vw;
  color: yellow;
  padding-bottom: 1.5vw;
}
body.math .wrapper .block-fifth table {
  font-weight: 300;
  border-collapse: separate;
  border-spacing: 0.5vw;
  background-image: url("../img/math-bg.jpg");
  border: 0.5vw solid white;
}
body.math .wrapper .block-fifth table tr td {
  text-align: center;
  font-weight: 300;
  object-fit: cover;
}
body.math .wrapper .block-fifth table tr td div {
  width: 28.5vw;
}
body.math .wrapper .block-fifth table tr td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.math .wrapper .block-fifth table tr th {
  font-size: 1vw;
  font-weight: 400;
  color: black;
  text-align: center;
}
body.math .wrapper .block-fifth table tr th a {
  color: black;
}
body.math .wrapper .block-fifth table tr th a:hover {
  text-decoration: underline;
}
body.math .wrapper .block-ninth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.math .wrapper .block-ninth h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.math .wrapper .block-ninth h1:hover {
  color: grey;
  text-decoration: underline;
}
body.math .wrapper .block-tenth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.math .wrapper .block-tenth div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body.math .wrapper .block-tenth h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.math .wrapper .block-tenth h1:hover {
  color: grey;
  text-decoration: underline;
}

body.economy {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
body.economy a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1vw;
}
body.economy h1 {
  font-weight: 600;
  color: #dadada;
  font-size: 1vw;
}
body.economy h2 {
  font-weight: 400;
  color: #5d5d5d;
  font-size: 1vw;
}
body.economy .nav {
  margin: 1.5vw 5vw;
  padding-bottom: 3.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.economy .nav a img {
  margin-top: 0.3vw;
  width: 50%;
  transition: 0.25s ease-in;
}
body.economy .nav a img:hover {
  transform: scale(1.25);
}
body.economy .nav .nav-links a:nth-child(2) {
  color: #ffff00;
  text-decoration: underline;
}
body.economy .nav .nav-links a {
  font-size: 1.5vw;
  margin-right: 1vw;
}
body.economy .nav .nav-links a:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.economy .nav .nav-links a:last-child {
  margin-right: 0vw;
}
body.economy .nav .nav-links-external {
  display: flex;
  justify-content: end;
}
body.economy .nav .nav-links-external a {
  font-size: 0.65vw;
  margin-right: 1vw;
  color: gray;
}
body.economy .nav .nav-links-external a:hover {
  color: yellow;
  text-decoration: underline;
}
body.economy .nav .nav-links-external a:last-child {
  margin-right: 0vw;
}
body.economy .wrapper {
  margin: 1.5vw 5vw;
}
body.economy .wrapper .nav-bar {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
}
body.economy .wrapper .nav-bar div {
  display: flex;
  flex-direction: column;
}
body.economy .wrapper .nav-bar ol {
  color: grey;
}
body.economy .wrapper .nav-bar a {
  font-size: 1vw;
  font-weight: 400;
  color: white;
  transition: 0.25s ease-in;
}
body.economy .wrapper .nav-bar a:hover {
  color: yellow;
}
body.economy .wrapper .nav-bar a:first-child {
  padding-bottom: 0vw;
}
body.economy .wrapper .block-first {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.economy .wrapper .block-first h1 {
  font-size: 3vw;
  color: yellow;
}
body.economy .wrapper .block-first h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.economy .wrapper .block-first img {
  margin-top: 5vw;
  margin-left: 28.5vw;
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.economy .wrapper .block-first img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.economy .wrapper .block-first h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.economy .wrapper .block-first h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.economy .wrapper .block-second {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.economy .wrapper .block-second h1 {
  font-size: 3vw;
  color: yellow;
}
body.economy .wrapper .block-second h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.economy .wrapper .block-second img {
  margin-top: 5vw;
  margin-left: 28.5vw;
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.economy .wrapper .block-second img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.economy .wrapper .block-second h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.economy .wrapper .block-second h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.economy .wrapper .block-third {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.economy .wrapper .block-third h1 {
  font-size: 3vw;
  color: yellow;
}
body.economy .wrapper .block-third h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.economy .wrapper .block-third ol {
  padding-top: 1.5vw;
  width: 50%;
  color: white;
  font-size: 1vw;
}
body.economy .wrapper .block-third ol li {
  padding-bottom: 1vw;
}
body.economy .wrapper .block-third ol li:hover {
  color: yellow;
}
body.economy .wrapper .block-fourth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.economy .wrapper .block-fourth h1 {
  font-size: 3vw;
  color: yellow;
}
body.economy .wrapper .block-fourth h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.economy .wrapper .block-fourth ol {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 50%;
  color: white;
  font-size: 1.5vw;
  list-style-type: square;
}
body.economy .wrapper .block-fourth ol li {
  padding-bottom: 0.5vw;
}
body.economy .wrapper .block-fourth ol li ul li {
  color: yellow;
  margin-top: 1vw;
  margin-bottom: 2vw;
}
body.economy .wrapper .block-fourth ol li ul li:hover {
  color: grey;
}
body.economy .wrapper .block-fifth img {
  margin-top: 1vw;
  margin-left: 28.5vw;
  width: 600px;
  height: object-fit;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.economy .wrapper .block-fifth img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.economy .wrapper .block-fifth h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.economy .wrapper .block-fifth h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.economy .wrapper .block-sixth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.economy .wrapper .block-sixth h1 {
  font-size: 3vw;
  color: yellow;
  padding-bottom: 1.5vw;
}
body.economy .wrapper .block-sixth table {
  font-weight: 500;
  border-collapse: separate;
  border-spacing: 0.5vw;
  background-image: url("../img/math-bg.jpg");
  border: 0.5vw solid white;
}
body.economy .wrapper .block-sixth table tr td {
  text-align: center;
  font-weight: 300;
  object-fit: cover;
}
body.economy .wrapper .block-sixth table tr td div {
  width: 28.5vw;
}
body.economy .wrapper .block-sixth table tr td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.economy .wrapper .block-sixth table tr th {
  font-size: 0.7vw;
  width: 10vw;
  color: black;
  text-align: center;
}
body.economy .wrapper .block-sixth table tr th a {
  color: black;
}
body.economy .wrapper .block-sixth table tr th a:hover {
  text-decoration: underline;
}
body.economy .wrapper .block-ninth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.economy .wrapper .block-ninth h1 {
  font-size: 3vw;
  max-width: 80vw;
  color: yellow;
  line-height: 120%;
}
body.economy .wrapper .block-ninth h1:hover {
  color: grey;
  text-decoration: underline;
}
body.economy .wrapper .block-tenth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.economy .wrapper .block-tenth div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body.economy .wrapper .block-tenth h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.economy .wrapper .block-tenth h1:hover {
  color: grey;
  text-decoration: underline;
}

body.law {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
body.law a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1vw;
}
body.law h1 {
  font-weight: 600;
  color: #dadada;
  font-size: 1vw;
}
body.law h2 {
  font-weight: 400;
  color: #5d5d5d;
  font-size: 1vw;
}
body.law .nav {
  margin: 1.5vw 5vw;
  padding-bottom: 3.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.law .nav a img {
  margin-top: 0.3vw;
  width: 50%;
  transition: 0.25s ease-in;
}
body.law .nav a img:hover {
  transform: scale(1.25);
}
body.law .nav .nav-links a:nth-child(4) {
  color: #ffff00;
  text-decoration: underline;
}
body.law .nav .nav-links a {
  font-size: 1.5vw;
  margin-right: 1vw;
}
body.law .nav .nav-links a:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.law .nav .nav-links a:last-child {
  margin-right: 0vw;
}
body.law .nav .nav-links-external {
  display: flex;
  justify-content: end;
}
body.law .nav .nav-links-external a {
  font-size: 0.65vw;
  margin-right: 1vw;
  color: gray;
}
body.law .nav .nav-links-external a:hover {
  color: yellow;
  text-decoration: underline;
}
body.law .nav .nav-links-external a:last-child {
  margin-right: 0vw;
}
body.law .wrapper {
  margin: 1.5vw 5vw;
}
body.law .wrapper .nav-bar {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
}
body.law .wrapper .nav-bar div {
  display: flex;
  flex-direction: column;
}
body.law .wrapper .nav-bar ol {
  color: grey;
}
body.law .wrapper .nav-bar a {
  font-size: 1vw;
  font-weight: 400;
  color: white;
  transition: 0.25s ease-in;
}
body.law .wrapper .nav-bar a:hover {
  color: yellow;
}
body.law .wrapper .nav-bar a:first-child {
  padding-bottom: 0vw;
}
body.law .wrapper .block-first {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-first h1 {
  font-size: 3vw;
  color: yellow;
}
body.law .wrapper .block-first h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.law .wrapper .block-first img {
  margin-top: 5vw;
  margin-left: 28.5vw;
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.law .wrapper .block-first img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.law .wrapper .block-first h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.law .wrapper .block-first h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.law .wrapper .block-second {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-second h1 {
  font-size: 3vw;
  color: yellow;
}
body.law .wrapper .block-second h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.law .wrapper .block-second img {
  margin-top: 5vw;
  margin-left: 28.5vw;
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.law .wrapper .block-second img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.law .wrapper .block-second h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.law .wrapper .block-second h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.law .wrapper .block-third {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-third h1 {
  font-size: 3vw;
  color: yellow;
}
body.law .wrapper .block-third h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.law .wrapper .block-third ul {
  list-style: circle;
  padding-top: 1.5vw;
  width: 50%;
  color: white;
  font-size: 2vw;
}
body.law .wrapper .block-third ul li {
  padding-bottom: 0.5vw;
}
body.law .wrapper .block-third ul li:hover {
  color: yellow;
}
body.law .wrapper .block-fourth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-fourth h1 {
  font-size: 3vw;
  color: yellow;
}
body.law .wrapper .block-fourth h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 1vw;
}
body.law .wrapper .block-fourth ol {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 50%;
  color: white;
  font-size: 1.5vw;
  list-style-type: square;
}
body.law .wrapper .block-fourth ol li {
  padding-bottom: 0.5vw;
}
body.law .wrapper .block-fourth ol li ul li {
  color: yellow;
  margin-top: 1vw;
  margin-bottom: 2vw;
}
body.law .wrapper .block-fourth ol li ul li:hover {
  color: grey;
}
body.law .wrapper .block-fifth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-fifth h1 {
  font-size: 3vw;
  color: yellow;
}
body.law .wrapper .block-fifth h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 4vw;
}
body.law .wrapper .block-fifth img {
  margin-top: 1vw;
  margin-left: 28.5vw;
  width: 600px;
  height: object-fit;
  object-fit: cover;
  transition: 0.25s ease-in;
}
body.law .wrapper .block-fifth img:hover {
  outline: 2px solid yellow;
  transform: scale(1.01);
}
body.law .wrapper .block-fifth h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}
body.law .wrapper .block-fifth h3:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.law .wrapper .block-sixth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-sixth h1 {
  font-size: 3vw;
  color: yellow;
}
body.law .wrapper .block-sixth h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 4vw;
}
body.law .wrapper .block-seventh {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-seventh h1 {
  font-size: 3vw;
  color: yellow;
}
body.law .wrapper .block-seventh h2 {
  color: white;
  max-width: 50vw;
  padding-bottom: 4vw;
}
body.law .wrapper .block-eighth {
  padding-top: 7vw;
  padding-bottom: 3vw;
}
body.law .wrapper .block-eighth h1 {
  font-size: 3vw;
  color: yellow;
  padding-bottom: 1.5vw;
}
body.law .wrapper .block-eighth table {
  font-weight: 500;
  border-collapse: separate;
  border-spacing: 0.5vw;
  background-image: url("../img/yellow.png");
  border: 0.5vw solid yellow;
}
body.law .wrapper .block-eighth table tr td {
  text-align: center;
  font-weight: 300;
  object-fit: cover;
}
body.law .wrapper .block-eighth table tr td div {
  width: 28.5vw;
}
body.law .wrapper .block-eighth table tr td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.law .wrapper .block-eighth table tr th {
  font-size: 0.7vw;
  width: 10vw;
  color: black;
  text-align: center;
}
body.law .wrapper .block-eighth table tr th a {
  color: black;
}
body.law .wrapper .block-eighth table tr th a:hover {
  text-decoration: underline;
}
body.law .wrapper .block-ninth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.law .wrapper .block-ninth h1 {
  font-size: 3vw;
  max-width: 80vw;
  color: yellow;
  line-height: 120%;
}
body.law .wrapper .block-ninth h1:hover {
  color: grey;
  text-decoration: underline;
}
body.law .wrapper .block-tenth {
  padding-top: 7vw;
  padding-bottom: 4vw;
}
body.law .wrapper .block-tenth div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body.law .wrapper .block-tenth h1 {
  font-size: 3vw;
  max-width: 70vw;
  color: yellow;
  line-height: 120%;
}
body.law .wrapper .block-tenth h1:hover {
  color: grey;
  text-decoration: underline;
}

body.feedback {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
body.feedback a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1vw;
}
body.feedback .nav {
  margin: 1.5vw 5vw;
  padding-bottom: 0vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.feedback .nav a img {
  margin-top: 0.3vw;
  width: 50%;
  transition: 0.25s ease-in;
}
body.feedback .nav a img:hover {
  transform: scale(1.25);
}
body.feedback .nav .nav-links a {
  font-size: 1.5vw;
  margin-right: 1vw;
}
body.feedback .nav .nav-links a:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.feedback .nav .nav-links a:last-child {
  margin-right: 0vw;
}
body.feedback .nav .nav-links-external {
  display: flex;
  justify-content: end;
}
body.feedback .nav .nav-links-external a {
  font-size: 0.65vw;
  margin-right: 1vw;
  color: gray;
}
body.feedback .nav .nav-links-external a:hover {
  color: yellow;
  text-decoration: underline;
}
body.feedback .nav .nav-links-external a:last-child {
  margin-right: 0vw;
}
body.feedback .wrapper {
  margin: 5vw;
}
body.feedback .wrapper .form-block {
  margin: 0 auto;
}
body.feedback .wrapper .form-block h1 {
  font-weight: 600;
  color: yellow;
  font-size: 3vw;
  padding-bottom: 2vw;
}
body.feedback .wrapper .form-block h1:hover {
  color: grey;
  text-decoration: underline;
}
body.feedback .wrapper .form-block form div:nth-child(1) {
  margin-bottom: 2vw;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1vw;
}
body.feedback .wrapper .form-block form div:nth-child(1) label {
  color: white;
  margin-right: 1vw;
  font-size: 2vw;
  font-weight: 400;
}
body.feedback .wrapper .form-block form div:nth-child(1) input {
  font-family: "Open Sans", sans-serif;
  width: 30vw;
  height: 4vw;
  padding-top: 1vw;
  padding-bottom: 1.5vw;
  font-size: 3rem;
  outline: 1px solid #111;
}
body.feedback .wrapper .form-block form div:nth-child(1) input:hover {
  outline: 3px solid yellow;
}
body.feedback .wrapper .form-block form div:nth-child(1) input:focus {
  color: white;
  background-color: black;
  outline: 3px solid white;
}
body.feedback .wrapper .form-block form div:nth-child(1) input::placeholder {
  font-size: 1.5vw;
}
body.feedback .wrapper .form-block form div:nth-child(1) input:last-child {
  padding-top: 0.5vw;
  font-size: 1.5vw;
}
body.feedback .wrapper .form-block form textarea {
  padding: 1vw;
  font-family: "Open Sans", sans-serif;
  width: 79.3vw;
  height: 15vw;
  color: black;
  font-size: 1.5vw;
  font-weight: 400;
}
body.feedback .wrapper .form-block form #button {
  padding: 1vw;
  font-size: 2vw;
  margin-top: 3vw;
  color: white;
  background-color: black;
  outline: 2px solid grey;
}
body.feedback .wrapper .form-block form #button:hover {
  outline: 2px solid #efefef;
  background-color: #efefef;
  color: #0a0a0a;
}
body.feedback .wrapper .form-block form #button:active {
  outline: 2px solid yellow;
  background-color: #131313;
  color: #efefef;
}
body.feedback .wrapper .data-block {
  padding-top: 10vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  gap: 2vw;
}
body.feedback .wrapper .data-block a {
  padding: 1vw;
  font-size: 1vw;
  color: white;
  background-color: black;
  outline: 2px solid grey;
}
body.feedback .wrapper .data-block a:hover {
  background-color: white;
  color: black;
}

body.discount {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
body.discount a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1vw;
}
body.discount .nav {
  margin: 1.5vw 5vw;
  padding-bottom: 0vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.discount .nav a img {
  margin-top: 0.3vw;
  width: 50%;
  transition: 0.25s ease-in;
}
body.discount .nav a img:hover {
  transform: scale(1.25);
}
body.discount .nav .nav-links a {
  font-size: 1.5vw;
  margin-right: 1vw;
}
body.discount .nav .nav-links a:hover {
  color: #ffff00;
  text-decoration: underline;
}
body.discount .nav .nav-links a:last-child {
  margin-right: 0vw;
}
body.discount .nav .nav-links-external {
  display: flex;
  justify-content: end;
}
body.discount .nav .nav-links-external a {
  font-size: 0.65vw;
  margin-right: 1vw;
  color: gray;
}
body.discount .nav .nav-links-external a:hover {
  color: yellow;
  text-decoration: underline;
}
body.discount .nav .nav-links-external a:last-child {
  margin-right: 0vw;
}
body.discount .wrapper {
  margin: 5vw;
}
body.discount .wrapper .form-block {
  margin: 0 auto;
}
body.discount .wrapper .form-block h1 {
  font-weight: 600;
  color: yellow;
  font-size: 3vw;
}
body.discount .wrapper .form-block h1:hover {
  color: grey;
  text-decoration: underline;
}
body.discount .wrapper .form-block form div {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body.discount .wrapper .form-block form div label {
  color: white;
  margin-right: 1vw;
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 1vw;
}
body.discount .wrapper .form-block form div input {
  font-family: "Open Sans", sans-serif;
  width: 30vw;
  height: 4vw;
  padding: 1vw;
  font-size: 2rem;
  outline: 1px solid #111;
}
body.discount .wrapper .form-block form div input:hover {
  outline: 3px solid yellow;
}
body.discount .wrapper .form-block form div input:focus {
  color: white;
  background-color: black;
  outline: 3px solid white;
}
body.discount .wrapper .form-block form div input::placeholder {
  font-size: 1.5vw;
}
body.discount .wrapper .form-block form div input:last-child {
  padding-top: 0.5vw;
  font-size: 1.5vw;
}
body.discount .wrapper .form-block form #calculate {
  padding: 1vw;
  font-size: 2vw;
  margin-top: 3vw;
  color: white;
  background-color: black;
  outline: 2px solid grey;
}
body.discount .wrapper .form-block form #calculate:hover {
  outline: 2px solid #efefef;
  background-color: #efefef;
  color: #0a0a0a;
}
body.discount .wrapper .form-block form #calculate:active {
  outline: 2px solid yellow;
  background-color: #131313;
  color: #efefef;
}
body.discount .wrapper .form-block form #result {
  padding-top: 1vw;
  font-size: 2vw;
  color: yellow;
  margin-top: 1vw;
}
body.discount .wrapper .data-block {
  padding-top: 10vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  gap: 2vw;
}
body.discount .wrapper .data-block a {
  padding: 1vw;
  font-size: 1vw;
  color: white;
  background-color: black;
  outline: 2px solid grey;
}
body.discount .wrapper .data-block a:hover {
  background-color: white;
  color: black;
}